<!DOCTYPE html>
<html lang='en' xmlns:th='http://www.thymeleaf.org'>
	<head th:replace='fragments/head :: th-head'>
		
	</head>
	<body class='skin-black sidebar-mini'>
		<div class='wrapper'>
			<header th:replace='fragments/header :: header'>
				
			</header>
			<aside th:replace='fragments/sidebar :: th-sidebar'>
			
			</aside>
			<div class='content-wrapper'>
				<section class="content-header">
				  <h1>
					Page Header
					<small>Optional description</small>
				  </h1>
				  <ol class='breadcrumb'>
					<li><a href='#'><i class='fa fa-dashboard'></i> Level</a></li>
					<li class='active'>Here</li>
				  </ol>
				</section>
				<section class='content'>
					sfdsjfkdjfnlskdfjlskdjffjsodfjs<br/>dkjhdskhcskjdhcsklcjhskl<br/>
				</section>
			</div>
			<input type='hidden' th:name='${_csrf.parameterName}' th:value='${_csrf.token}' />
			<footer th:replace='fragments/footer :: .th-footer'>
			   
			</footer>
		</div>
		<script src='http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js'></script>
        <script>
       	$(document).ready(function(){
       		$.ajax({
       			url: "/test",
       			method: "POST",
       			data: { 
       				id : 1,
       				_csrf: $("input[name='_csrf']").val()
       			},
       			dataType: 'json'
       		}).done(function(data) {
       			alert(data.id);
       		}).fail(function(jqXHR, textStatus) {
       			alert( "Request failed: " + textStatus);
       		});
       	});
     </script>  
	</body>
</html>